In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["Alice","Bob","Charlie",1,2,3,4,5]
print(names)

['Alice', 'Bob', 'Charlie', 1, 2, 3, 4, 5]

In [3]:
mixed_list=[1,"Hello",3.14,True,[1,2,3]]
print(mixed_list)

[1, 'Hello', 3.14, True, [1, 2, 3]]

In [5]:
## Accessing list elements

fruits=["apple","banana","cherry","date","elderberry"]
print(fruits[0])  # First element
print(fruits[2])  # Third element
print(fruits[-1]) # Last element

apple
cherry
elderberry

In [9]:
print(fruits[1:4])  # Slicing from index 1 to 3
print(fruits[1:])  # Slicing from index 1 to end
print(fruits[-1:-3])  # Slicing from last to third last (empty)

['banana', 'cherry', 'date']
['banana', 'cherry', 'date', 'elderberry']
[]

In [10]:
## Modifying the lists element

fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'date', 'elderberry']

In [11]:
fruits[1:]="watermelon"
print(fruits)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [ ]:
fruits=["apple","banana","cherry","date","elderberry"]

['apple', 'banana', 'cherry', 'date', 'elderberry', 'orange']

In [15]:
## List methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'orange', 'orange']

In [16]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'date', 'elderberry', 'orange', 'orange']

In [17]:
fruits.remove("banana")
print(fruits)

['apple', 'watermelon', 'cherry', 'date', 'elderberry', 'orange', 'orange']

In [19]:
## Remove and return the last

popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'date', 'elderberry']

In [21]:
index=fruits.index("cherry")
print(index)

2

In [24]:
fruits.insert(2,"banana")
print(fruits.count("banana"))
print(fruits)

3
['apple', 'watermelon', 'banana', 'banana', 'banana', 'cherry', 'date', 'elderberry']

In [26]:
fruits.sort() #sorts the list in ascending order
fruits

['apple',
 'banana',
 'banana',
 'banana',
 'cherry',
 'date',
 'elderberry',
 'watermelon']

In [ ]:
fruits.reverse() # reverse the list
fruits

['watermelon',
 'elderberry',
 'date',
 'cherry',
 'banana',
 'banana',
 'banana',
 'apple']

In [28]:
fruits.clear() ## Remove all items from the list
print(fruits)

[]

In [29]:
## Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers[::]

[1, 4, 7, 10]

In [34]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [37]:
numbers[-4::]

[7, 8, 9, 10]

In [38]:
numbers[-2::]

[9, 10]

In [39]:
## Iterating Over list 

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [40]:
## iterating with index

for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [41]:
## List Comprehension

lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
[x**2 for x in range (10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## List comprehension

Basics Syntax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [43]:
## Basic list comprehension

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
## list comprehension with condition

lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [46]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [47]:
## Nested list comprehension

list1=[1,2,3,4]
list2=['a','b','c','d']
pair=[[i,j] for i in list1 for j in list2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [48]:
## list comprehension with function calls

words=["hello","world","python","list","comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]