In [1]:
## create a set

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [24]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [18]:
my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [27]:
## basics set operation
## Adding and removing elements

my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [26]:
## Remove the elements from a set

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.remove(10)
print(my_set)

KeyError: 7

In [28]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [29]:
## pop method

removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [30]:
# clear all the elements

my_set.clear()
print(my_set)

set()

In [31]:
## Set membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [33]:
## mathematical operation

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## union

union_set=set1.union(set2)
print(union_set)

## Intersection

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [34]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## difference

print(set1.difference(set2))

{1, 2, 3}

In [35]:
set1

{1, 2, 3, 4, 5, 6}

In [36]:
set2.difference(set1)

{7, 8, 9}

In [37]:
## Symmetric Difference

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
## sets method

set1={1,2,3}
set2={3,4,5}

## is subset

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [43]:
## sets method

set1={1,2,3,4,5}
set2={3,4,5}

## is subset

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [44]:
lst=[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [47]:
## Counting unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'about', 'we', 'tutorial', 'sets', 'In', 'this', 'are', 'discussing'}
8